.buttonStyle{
    border-radius: 20px;
    background-color: rgba(0, 255, 106, 0.788);
    
    border:none;
    font-family:'Press Start 2P', cursive;
    color: white;
    font-size: 15px;
    height: 70px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .buttonStyle:hover{
    font-size: 20px;
    transition: 0.6s;
    cursor: pointer;
  }

.select {
    background-color: rgba(0, 255, 106, 0.788);
    color: white;
    box-shadow: 0 0 1px black;
  }
  
  .wrong {
    background-color: rgba(255, 4, 4, 0.651);
    color: white;
    box-shadow: 0 0 1px black;
    
  }